{% extends 'base.html.twig' %}

{% block title %}Feedback form{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="p-4 border rounded-lg mb-4 shadow-sm bg-white">

                    <h1>Feedback form</h1>

                    {{ form_start(feedbackForm) }}
                    {{ form_widget(feedbackForm) }}
                    <button type="submit" class="btn btn-primary">Create</button>
                    {{ form_end(feedbackForm) }}

                </div>
            </div>
        </div>

    </div>
{% endblock %}
