{% extends 'base.html.twig' %}

{% block title %}Обращения пзрзользователя: {{ email }}{% endblock %}

{% block body %}
    <div class="container">

        <h1>Пользователь с {{ email }}</h1>

        <h2>Обращений ({{ feedbacks|length }})</h2>

        <ul>
            {% for feedback in feedbacks %}
                <li>{{ feedback.createdAt.format('d-m-Y H:i') }} : <p>{{ feedback.message }}</p></li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}