<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ email.subject }}</title>
</head>
<body class="">
    {% block content %}{% endblock %}
</body>
</html>
