{% extends 'email/email.html.twig' %}

{% block content %}
    <h1><a href="{{ url('app_form') }}">Форма обратной связи</a></h1>

    <p>Было отправлено новое сообщение!</p>
    <p>Дата и время отправления: {{ feedback.createdAt.format('d-m-Y H:i') }}</p>
    <p>Имя: {{ feedback.name }}</p>
    <p>Текст сообщения: {{ feedback.message }}</p>
{% endblock %}